body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	width:1440px;
	margin: 0;
	padding: 0;
}
section{
	margin: 0 134px;
}
ul{
	margin: 0;
}
p{
	color: #999999;
}

/* HEADER */
.header{
	width: 1440px;
	height: 640px;
	color:#ffffff;
	background: url(../img/png/devices.png) no-repeat 87% 120px;
}
.header::after{
	width: 1440px;
	height: 640px;
	content: "";
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: #15141A;
	background-size: cover;
	z-index: -2;
} 
.header::before{
	width: 1440px;
	height: 640px;
	background-image: url(../img/png/photo1.png);
 	opacity: 0.1;
	content: "";
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-size: cover;
	z-index: -1;
}
.home__top{
	display: flex;
	justify-content: space-between;
	padding-top: 42px;
}
.logo{
	width: 125px;
	display: flex;
	justify-content: left;
	align-items: center;
}
.logo__name{
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 7px;
}
.logo__title{
	font-size: 9px;
	text-align: left;
	text-transform: uppercase;
	opacity: 0.3;
}
.navigation>ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.navigation__item{
	margin-left: 25px;
}
.navigation__link{
	position: relative;
	text-decoration: none;
	color:#ffffff;
}
.navigation__link:hover::before{
	content: "";
	display: inline-block;
	height: 3px;
	background-color: #008ED6;
	position: absolute;
	top: 28px;
	left: 0;
	right:0;
}
.home__content{
	margin-top: 90px;
	display: flex;
	flex-direction: column;
	width: 480px;
}
.title{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color:#008ED6;
}
h1{
	font-size: 40px;
}
.home__description{
	opacity:0.6;
}
.home__buttons{
	margin-top: 2.5em;
}
.button{
	display: inline-block;
	border: solid 1px #4D4E53;
	border-radius: 0.5em;
	padding: 21px 31px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	margin-right: 10px;
}
.button:hover{
	background-color:#008ED6;
}

/* MAIN CONTENT */
.flex-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.features{
	padding-top: 65px;
	padding-bottom: 25px;
}
.features> .title, .features> h2{
	text-align: center;
}
h2{
	font-size: 32px;
	position: relative;
}
h2::before{
	content: "";
	display: inline-block;
	height: 3px;
	width: 43px;
	background-color: #008ED6;
	position: absolute;
	top: 58px;
}
.features> h2::before{
	left: 48%;
}
.features__list{
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding-top: 85px;
}
.feature__item{
	width:229px;
	height: 256px;
}
.feature__icon{
	display: inline-block;
	border: 1px solid #999999;
	border-radius: 50%;
	width:89px;
	height: 89px;
}
.feature__img{
	position: relative;
	top:32%;
}
.delimiter{
	margin:0;
	padding: 0;
	width: 100%;
	height: 2px;
	background-color: #EDEDED;
}
.about-top{
	display: flex;
	justify-content: left;
	padding-top: 66px;
	padding-bottom: 18px;
}
.about-top__content{
	margin-top: 53px;
	margin-left: 72px;
	width: 36%;
}
.about-top__description{
	padding: 7% 0;
}
.about-top__list{
	list-style: none;
	padding-left: 0;

}
.about-top__list-item{
	margin-top: 20px;
	padding-left:25px;
	font-weight: bold;
}
.about-top__list-item:first-child{
	background: url(../img/svg/Cup.svg) no-repeat;
}
.about-top__list-item:nth-child(2){
	background: url(../img/svg/Mouse.svg) no-repeat;
}
.about-top__list-item:nth-child(3){
	background: url(../img/svg/Energy.svg) no-repeat;
}
.about-top__list-item:last-child{
	background: url(../img/svg/Speedometer.svg) no-repeat;
}
.about-bottom{
	display: flex;
	justify-content: left;
	padding: 34px 134px;
	background-color: #F2F2F2;
	margin:0;
}
.about-bottom__content{
	margin-top: 100px;
}
.about-bottom__description{
	padding: 7% 0;
}
.testimonials{
	margin:0;
	height: 500px;
	padding: 0 134px;
	position: relative;
}
.testimonials:after{
	width: 1440px;
	height: 500px;
	content: "";
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: url(../img/png/Warstwa8.webp) no-repeat;
	height: 500px;
	box-sizing: cover;
	z-index: -2;
	
} 
.testimonials:before{
	width: 1440px;
	height: 500px;
	opacity: 0.7;
	background-color: #15141A;
	content: "";
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-size: cover;
	z-index: -1;
}
.testimonials .title{
	margin-top: 34px;
}
.testimonials>h2{
	color: #ffffff;
}
.testimonials>h2::before{
	left: 48%;
}
.testimonial_palel{
	padding-top: 5%;
	display: flex;
	justify-content: space-between;
}
.testimonial-item>p{
	font-size: 24px;
	color: #ffffff;
	font-style: italic;
	width: 90%;
}
.author-photо{
	border-radius: 50%;
	float: left;
	margin-right: 24px; 
}
.author-profile{
	color: #ffffff;
	line-height: 1.8em;
}
.eye-catcher{
	margin:0;
	padding: 50px 134px;
	background-color: #15141A;
	display: flex;
	justify-content: space-between;
}
.eye-catcher>p{
	color: #ffffff;
	font-size: 36px;
}
.eye-catcher>p>span{
	font-weight: bold;
}
.pricings{
	padding-top: 3%;
}
.pricings>h2::before{
	left: 48%;
}
.pricings-plans{
	display: flex;
	justify-content: space-between;
	margin-top: 7%;
}
.pricings-plans__item{
	border: solid 1px #E0E0E0;
	border-radius: 1%;
	margin-left: 2%;
}
.plan-name{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #1A1A1A;
	padding:30px 0;
	border-bottom: solid 1px #E0E0E0;
}
.plan-price{
	padding: 15% 25% 15%;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	border-bottom: solid 1px #E0E0E0;
	line-height: 55%;
}
.plan-price>span:first-child{
	vertical-align: super;
	font-size: 24px;
}
.plan-price>span:last-child{
	font-size: 18px;
	color: #999999;
	font-weight: normal;
}
.plan-description{
	font-size: 18px;
	color: #999999;
	text-align: center;
	padding: 43px 25px;
	border-bottom: solid 1px #E0E0E0;
}
.plan-description>a{
	text-decoration: none;
	color: #008ED6;
}
.plan-description> .button{
	margin-top: 15%;
	width: 60%;
	border: solid 1px #E0E0E0;
	border-radius: 3%;
	color: #008ED6;
	font-size: 14px;
	font-weight: bold;
}
.pricings-plans__item:hover>.plan-name{
	color: #008ED6;
}
.pricings-plans__item:hover>.plan-price, .pricings-plans__item:hover>.plan-price>span:last-child, .pricings-plans__item:hover>.plan-description>.button{
	background-color: #008ED6;
	color: #ffffff;
}
.contact{
	position: relative;
	margin:0;
	padding: 61px 134px 0;
	background-color: #EDEDED;
}
.contact>h2::before{
	left: 34%;
}
.contacts{
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding-top: 5%;
}
.contacts__item{
	text-align: center;
	font-size: 18px;
	width: 25%;
}
form{
	display: block;
	border-radius: 3px;
	width:90%;
	height: 85%;
	margin-top: 1%;
	padding-bottom: 3%;
}
.form-input-panel{
	display: flex;
	justify-content: space-between;
	margin:3%;
	padding: 0 5%;
	height: 40%;
}
form, input, textarea{
	background-color: #15141A;
	color: #606062;
	text-transform: uppercase;
	font-size: 14px;
}
input[type=text], input[type=email]{
	width: 230px;
	height: 25%;
}
input[type=text], input[type=email], textarea{
	margin: 2%;
	padding-left: 3%;
	border: solid 1px #444348;
	border-radius: 3px;
}
textarea{
	width: 50%;
	height: 150px;
	margin-left: 4%;
	margin-top: 1%;
	padding-top: 2.5%;
	resize: none;
}
input[type=submit]{
	height: 51px;
	width: 21%;
	float: right;
	margin-right: 9%;
	background-color: #15141A;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	border: solid 1px #444348;
}
input[type=submit]:hover{
	background-color: #008ED6;
	color: #ffffff;
}
.map{
	width: 1440px;
	height: 460px;
	margin-bottom: -1%;
}
footer{
	padding: 3% 0;
	background-color: #15141A;
	width: 100%;
	height: 3%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.social-icons{
	display: flex;
	justify-content: space-around;
	width: 15%;
}
.social-icons>a{
	display: inline-block;
}
.fa{
	color: #444348;
}
.fa:hover{
	color: #008ED6;
}
.copyright{
	padding-top: 1.5%;
	font-size: 14px;
	text-transform: uppercase;
	color: #444348;
}